.container {
	width: 675px;
	height: 346px;
	border: 1px solid #d4d4d4;
	box-shadow:  0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	position: relative;
}

.container .actions {
	position: absolute;
	bottom: 10px;
	right: 10px;
}